* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    /* height: 200%; */
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}





.navigation {
    display: flex;
    margin: auto;
    width: 97em;
    margin-bottom: 1em;
    height: 6em;
    position: fixed;
    top: 0em;
    background-color:white;
    align-items: flex-end;
    justify-content: space-evenly;   
    z-index: 2;
}






.icon{
    font-size: 3em;
    color:rgb(211, 195, 14);
    padding-left: .5em;
    align-items: flex-end;
    transition: .5s ease-in-out;
}
.icon:hover{
    color:   rgb(16, 178, 178);
    font-size: 3.5em;
}
.logo {
    margin-left: 1em;
    cursor:pointer;
    align-items: flex-end;
}
.logo h1 {
    color:  rgb(16, 178, 178);
    font-size: 3em;
    margin-bottom: .1em;
    transition: .5s ease-in-out;
}
.logo h1:hover{
    font-size: 3.2rem;
    color: rgb(211, 195, 14);
}
.logo p {
    color:rgb(211, 195, 14) ;
    margin-top: -1em;
}
.menu {
    display: flex;
}
.menu ul {
    display: flex;
    align-items:flex-end;
}
.menu ul li {
    list-style: none;
    margin-left: 1.5em;
}
.menu ul li a {
    color:rgb(211, 195, 14);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: .5s ease-in-out;
}
.menu ul li a:hover {
    color: rgb(16, 178, 178);
    text-decoration: underline;
    font-size:1.3em
}






.left_menu {
    color: rgb(211, 195, 14);
    display: flex;
    /* align-items: flex-end; */
    /* text-align: right; */
    /* float: right; */
    margin-left: 15em;
    align-items: flex-end;
    cursor: pointer;
}
.left1 a {
    text-decoration: none;
    color: rgb(16, 178, 178);
    transition: 0.5s ease-in-out;
}
.left1 a:hover{
    color:rgb(211, 195, 14) ;
    font-size: 1.2em;
}
.srch {
    display: flex;
    align-items: center;
    margin-right: 1em;
    justify-content: space-between;
}
.srch i {
    font-size: 1.5rem;
    padding-left: 1em;
    transition: .5s ease-in-out;
}
.srch i:hover{
    color:  rgb(16, 178, 178);
    font-size:2em;
}





.page{
    width: 100rem;
    height: 200rem;
    /* background-color:violet; */
    /* border-bottom-color:2px solid blue ; */
    margin: auto;
    /* margin-top: 0rem;
    margin-bottom: 0rem; */


}

.box {
    position: relative;
    top: 7em;
    color: white;
    display: flex;
    width: 97em;
    height: 33em;
    background-image: url(fitness_img/fitness1.jpg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    z-index: 0;
}
.containt1 {
    margin: 6em 3em;
    cursor:alias;
    font-size: 1.5em;
}
.containt1 p {
    font-size: 1em;
    margin-top: .5em;
    color: rgb(211, 195, 14);
    cursor: pointer;
}




.box2{
    /* border: 2px solid black; */
    position: absolute;
    top: 42em;
    width: 97em;
    display: flex;
    flex-direction: column;
    text-align: center;    
    z-index: 1;
}
.box2 h1{
    margin-top: .6em;
    font-size: 3em;
}
.box2 p{
    font-size: 1.4em;
}
.list_box2{
    margin:auto;
    margin-top: 1.5em;
}
.list_box2 ul{
    display: flex;
    justify-content: space-evenly;
}
.list_box2 li{
    list-style: none;
}
.list_box2 li a{
    color: pink;
    padding:1em;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.list_box2 li a:hover{
   cursor: pointer;   
   font-size: 1.2em;
}
#icon_box2{
    margin-top: 2.5em;
}
#icon_box2 i{
    border: 1px solid gray;
    font-size: 2em;
    transition: .5s ease-in-out;
    margin: .5em;
    padding: .5em;
    border-radius: 5em;
    transition: .5s ease-in-out;
}
#facebook{
    color: rgb(10, 90, 136) ;
}
#instagram{
    color: rgb(165, 13, 13);
}
#twiter{
    color:  rgb(13, 165, 192);
}
#email{
    color: rgb(91, 38, 38);
}
#icon_box2 i:hover {
    cursor: pointer;
    font-size: 2.3em;
}




.box3{
   position: absolute;
   top: 73em;
   z-index: 1;
   width: 97em;
   display: flex;
   /* justify-content: center; */
   justify-content: space-evenly;
}
.B3{
    width: 22.5em;
    transition: 0.5s ease-in-out;
}
.b3 img{
    cursor:pointer;
    width: 24em;
}
.b3 img:hover{
    cursor:pointer;
    width: 26em;
}
.B3 h3 a{
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(16, 178, 178);
    transition: .5s ease-in-out;
}
.B3 h3 a:hover{
    color:rgb(211, 195, 14) ;
    font-size: 1.5em;
    text-decoration: underline;
}

.B3 p{
    font-size: 1.2em;
    color: pink;
}




.box4{
   position: absolute;
   top: 99em;
   z-index: 1;
   width: 97em;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}
.B4{
    width: 22.5em;
    transition: 0.5s ease-in-out;
}
.b4 img{
    cursor:pointer;
    width: 24em;
}
.b4 img:hover{
    cursor:pointer;
    width: 26em;
}
.B4 h3 a{
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(16, 178, 178);
    transition: 0.5s ease-in-out;
}
.B4 h3 a:hover{
    color:rgb(211, 195, 14) ;
    font-size: 1.5em;
    text-decoration: underline;
}
.B4 p{
    font-size: 1.2em;
    color: pink;
}




.box5{
   position: absolute;
   top: 127em;
   z-index: 1;
   width: 97em;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}
.B5{
    width: 22.5em;
    transition: 0.5s ease-in-out;
}
.b5 img{
    cursor:pointer;
    width: 24em;
}
.b5 img:hover{
    cursor:pointer;
    width: 26em;
}
.B5 h3 a{
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(16, 178, 178);
    transition: 0.5s ease-in-out;
}
.B5 h3 a:hover{
    color:rgb(211, 195, 14) ;
    font-size: 1.5em;
    text-decoration: underline;
}
.B5 p{
    font-size: 1.2em;
    color: pink;
}






.box6{
   position: absolute;
   top: 153em;
   z-index: 1;
   width: 97em;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
}
.B6{
    width: 22.5em;
    transition: 0.5s ease-in-out;
}
.b6 img{
    cursor:pointer;
    width: 24em;
}
.b6 img:hover{
    cursor:pointer;
    width: 26em;
}
.B6 h3 a{
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(16, 178, 178);
    transition: 0.5s ease-in-out;
}
.B6 h3 a:hover{
    color:rgb(211, 195, 14) ;
    font-size: 1.5em;
    text-decoration: underline;
}
.B6 p{
    font-size: 1.2em;
    color: pink;
}





.box7{
    position:absolute;
    top: 179em; 
    background-color: rgb(157, 251, 251);
    /* background-color:rgb(226, 224, 224); */
    z-index: 1;
    height: 21em;
    width: 97em;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
 }
.row1{
    width: 20em;
    height: 20em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.row1 h1{
    font-size: 3em;
    cursor: pointer;
}
.row1 p{
    margin-top: 1em;
    font-size:1.2em;
}
#row1_icon{
    display: flex;
    width: 10em;
    justify-content: space-between;
}
#row1_icon i{
    cursor: pointer;
    margin-top: 1em;
    color: black;
    font-size: 1.5em;
    transition: .5s ease-in-out;
}
#facebook:hover{
    color: rgb(10, 90, 136);
    font-size: 2em;

}
#instagram:hover{
    color: rgb(108, 28, 28);
    font-size: 2em;
}
#twiter:hover{
    color:  rgb(13, 165, 192);
    font-size: 2em;
}
#you_tube:hover{
    color: rgb(243, 13, 13);
    font-size: 2em;
}


.row2{
    width: 20em;
    height: 20em;
    margin-top: 1em;
}
.row2 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5em;
}
.row2 ul li{
    margin-top: 1em;
    list-style: none;
}
.row2 ul li a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.row2 ul li a:hover{
    color: rgb(16, 178, 178);
    text-decoration: underline;
    font-size:1.3em;
}
.row3{
    width: 20em;
    margin-top: 1em;
}
.row3 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5em;
}
.row3 ul li{
    margin-top: 1em;
    list-style: none;
}
.row3 ul li a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    transition: .5s ease-in-out;  
}
.row3 ul li a:hover{
    color: rgb(16, 178, 178);
    text-decoration: underline;
    font-size:1.3em;
}
.row4{
    width: 20em;
    margin-top: 1em;
}
.row4 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5em;
}
.row4 ul li{
    margin-top: 1em;
    list-style: none;
}
.row4 ul li a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s ease-in-out;
}
.row4 ul li a:hover{
    color: rgb(16, 178, 178);
    text-decoration: underline;
    font-size:1.3em;
}

#hr{
    /* position: absolute; */
    /* top: 100em; */
    /* color: black; */
    /* border: 2px solid blue; */
}











